<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{template.html :: head-navbar}"></div>
<div th:replace="~{template.html :: navbar}"></div><hr>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Регистрация</h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/registration}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="name">Полное имя:</label>
                            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
                        </div>
                        <div class="form-group">
                            <label for="birthday">День рождения (yyyy-mm-dd):</label>
                            <input type="text" class="form-control" id="birthday" name="birthday" th:field="*{birthday}" />
                        </div>
                        <div class="form-group">
                            <label for="phone">Номер телефона:</label>
                            <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" />
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>