<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<div th:replace="template.html :: head-navbar"></div>
<div th:replace="template.html :: navbar"></div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/static/bootstrap.css}">
</head>
<body>
  <div class="myapp-content">
      <div class="myapp-main-container">
          <h2 class="myapp-h2">Отклики</h2>
          <div th:each="response : ${responses}">
              <div class="myapp-container">
                  <img th:src="@{/image/{id}(id=${response.customerId})}" alt="Avatar" style="width:90px">
                  <p>
                      <span class="myapp-clickable" th:text="${userService.getUserById(response.customerId).name}">Имя пользователя</span>
                      <span class="myapp-link-like" th:text="${productService.getProductById(response.pid).name}">Товар</span>
                  </p>
                  <p th:text="${response.message}">Текст отклика</p>
              </div>
          </div>
      </div>
  </div>
  </body>
  
  

</html>
